@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $colors: (
    'primary': (
      'base': #3b82f6,
    ),
    'success': (
      'base': #22c55e,
    ),
    'warning': (
      'base': #f59e0b,
    ),
    'danger': (
      'base': #ef4444,
    ),
    'info': (
      'base': #59636e,
    ),
  ),
  $border-radius: (
    'base': 4px,
    'small': 2px,
    'round': 8px,
  ),
  $font-size: (
    'extra-large': 18px,
    'large': 16px,
    'medium': 14px,
    'base': 16px,
    'small': 14px,
    'extra-small': 12px,
  )
);

@use 'element-plus/theme-chalk/src/index.scss' as *;
